<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: "Pizzaria DH - Usuário"}) %>

<body>
    <%- include('includes/header') %>
    <h1>Olá, seja bem vindo <%= nome %>!</h1>
</body>

</html>